* {
    padding: 0px;
    margin: 0px;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
a,
a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
aside,
nav,
footer,
header,
section,
main {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}
ul,
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
img,
svg {
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
    display: none;
}
button,
input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}

// VAR

// colors
$pink: #ff4979;
$purple: #332651;

// fonts

$NTR: 'NTR', serif;
$Montserrat: 'Montserrat', serif;

.container {
    max-width: 568px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.header {
    margin-top: 150px;
}

.content-header {
    background-color: $pink;
    color: white;
    font-family: $Montserrat;
    font-weight: 700;
    border-radius: 14px;
    width: 538px;
    height: 113px;
    margin-bottom: 7px;
    padding: 36px 5px;
}

.content-header-row {
    display: flex;
    column-gap: 3px;
    align-items: flex-end;
    justify-content: center;
}

.content-header-title {
    color: white;
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 52px;
    line-height: 0.8;
}

.main-content-header-img {
    width: 20px;
    height: 20px;
}

.content-main {
    background-color: $purple;
    color: white;
    font-size: 36px;
    padding: 45px 98px 60px 98px;
    border-radius: 14px;
    width: 538px;
}

.content-main-column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    & li {
        word-break: break-all;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        align-items: center;
        font-family: $Montserrat;
        font-weight: 300;
        font-style: italic;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            height: 22px;
            width: 22px;
            border: 2px solid white;
            border-radius: 4px;
            top: 30%;
            left: -51px;
            cursor: pointer;
        }
    }
    & li.checked {
        text-decoration: line-through;
        font-weight: 400;
        &::before {
            background-color: #fff;
        }
    }
}

.dada {
    max-width: 20px;
}

.content-main {
    position: relative;
}

.add-btn {
    background-color: $pink;
    color: white;
    font-weight: 600;
    position: absolute;
    padding: 0px 20px;
    font-family: $Montserrat;
    z-index: 1;
    font-size: 48px;
    bottom: -25px;
    left: 43%;
    border-radius: 21px;
    &:hover {
        background-color: #3bce3b;
        color: rgb(235, 235, 235);
        transition-duration: 0.4s;
    }
}

.dark-theme {
    background-color: #ebebeb;
    // max-width: 1920px;
    padding: 20px;
}

.dark-theme-btn {
    & img {
        max-width: 60px;
    }
}

.modal {
    font-family: $Montserrat;
    font-size: 24px;
    font-weight: 600;
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 1; /* Поверх всего */
    left: 0;
    top: 0;
    width: 100%; /* Ширина во весь экран */
    height: 100%; /* Высота во весь экран */
    overflow: auto; /* Включаем прокрутку, если контент не помещается */
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Центрируем по вертикали и горизонтали */
    padding: 20px;
    box-shadow: 0px 0px 15px $pink;
    width: 80%; /* Ширина содержимого */
    max-width: 600px; /* Максимальная ширина */
}

.close {
    color: #646464;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.input {
    background-color: rgb(226, 226, 226);
    width: 100%;
    font-size: 22px;
    padding: 8px 10px;
}

.flex {
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
    row-gap: 10px;
}

.btn-yes {
    width: 100%;
    background-color: rgb(226, 226, 226);
    padding: 8px 10px;
    font-size: 22px;
}

@media (max-width: 750px) {
    .header {
        margin-top: 75px;
    }
    .content-header {
        width: 410px;
        padding: 20px 5px;
        height: 75px;
    }
    .content-header-title {
        font-size: 40px;
    }
    .content-main {
        padding: 30px 70px;
        width: 410px;
    }
    .add-btn {
        font-size: 35px;
    }
    .content-main-column li {
        display: flex;
        column-gap: 15px;
        font-size: 32px;
        &::before {
            height: 20px;
            width: 20px;
            top: 27%;
            left: -41px;
        }
    }
    .dark-theme {
        background-color: #dadada;
        // max-width: 1920px;
        padding: 13px;
    }

    .dark-theme-btn {
        & img {
            width: 50px;
        }
    }
    .input {
        background-color: rgb(226, 226, 226);
        font-size: 22px;
        padding: 8px 10px;
    }

    .flex {
        margin-top: 15px;
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    .btn-yes {
        background-color: rgb(226, 226, 226);
        padding: 8px 10px;
    }
}

@media (max-width: 470px) {
    .header {
        margin-top: 45px;
    }
    .content-header {
        width: 340px;
        height: 60px;
    }
    .content-header-title {
        font-size: 29px;
    }
    .content-main {
        padding: 30px 50px;
        width: 340px;
    }
    .add-btn {
        font-size: 35px;
    }
    .content-main-column li {
        display: flex;
        column-gap: 15px;
        font-size: 28px;
        &::before {
            height: 19px;
            width: 19px;
            top: 27%;
            left: -31px;
        }
    }
    .dark-theme {
        background-color: #dadada;
        padding: 8px;
    }

    .dark-theme-btn {
        & img {
            width: 35px;
        }
    }
}
